@use './base' as *;

body {
  background: url("../images/bg-intro-mobile.png") center $red;
  @include query(md) {
    height: 100vh;
    background: url("../images/bg-intro-desktop.png") center $red;
  }
}
.form-section {
  max-width: 72rem;
  padding: 3rem 0;
  margin: auto;
  display: grid;
  grid-template-columns: 4vw 1fr 4vw;
  grid-template-rows: auto;
  place-items: center;
  row-gap: 3.5rem;

  grid-template-areas:
    ".  title    ."
    ". container ."
    ".  footer   .";

  @include query(md) {
    grid-template-columns: 15% 1fr 15%;
  }
  @include query(lg-2) {
    height: 100vh;
    gap: 0 5rem;
    padding: 3rem;
    background: url("../images/bg-intro-desktop.png") no-repeat center $red;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title  container"
      "title  container"
      "footer  footer  ";
  }

  .title {
    grid-area: title;
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  .container {
    grid-area: container;
  }

  .footer {
    grid-area: footer;
    &__atribution {
      color: $graish;
    }

    &__text-bold{
      color: $white;
    }
  }
}
