@use './base' as *;

html {
  font-size: 16px;
}

body {
  text-align: center;
  line-height: 1.6;
  font-family: $poppins;
}

h1 {
  line-height: 1.3;
  font-weight: $bold;
  color: $white;
  @include font-size($h1-font-sizes);
}

p {
  color: $graish;
  font-weight: $medium;
  @include font-size($p-font-sizes);
}

input {
  @include font-size($input-font-sizes);
  font-weight: $semi-bold;
}

small {
  @include font-size($small-font-sizes);
}

.title {
  @include query(lg) {
    text-align: start;
  }
}

.bold {
  font-weight: $semi-bold;
}

.form {
  //Icons
  &__error,
  &__validation {
    font-size: 1.2rem;
  }
}
